*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

.countdown{
    min-height: 100vh;
    background: url("./countdown-bg.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;

    padding: 100px 0;

}

.countdown__heading{
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    text-align: center;

}
.countdown__heading--small{
    font-size: 1.8rem;
    font-weight: 400;
}

.countdown__stats{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 50px;

}

.stats__item{
    text-align: center;
}

.stats__int{
    font-size: 90px;
    line-height: .8;
    
}

.stats__text{
    font-size: 20px;
    font-weight: 400;
}
